{
  "app": {
    "guid": "c4d5b025-8c52-4ace-8647-f92aeb780bc0"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": true,
    "metadataSecurity": null,
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "MWYxYjYxMzAtNDhhZi00MTdjLTliZWYtYTgzNzAzODVkNGZj",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "authentication": "",
      "social": "false",
      "mutual": "false"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "xframeOptions": "SameOrigin"
}